<% provide(:title, "Buy Unlimited Books at Lower Prices") %>
<% provide(:class_name, "common-home") %>
<% logger.debug "Cart Details: #{cart_title}" %>
<% content_for :modals do %>
       <%= render 'frontend_pages/modals/choose_product' %>
<% end %>

 <!-- Page Body -->
   <div class="featured-pro container">
    <div class="slider-items-products">
      <div class="new_title center">
        <h2>#Trending Right Now</h2>
      </div>

      <div id="featured-slider" class="product-flexslider hidden-buttons">
        
                  <div class="slider-items slider-width-col4">
                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Fastrack Modern Wallet " href="index9144.html?route=product/product&amp;product_id=40"> 
                <%= image_tag "data/smaple_cover.jpg", alt: "", class: "img-responsive", width: "199", height: "302" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index7ddd.html?route=product/quickview&amp;product_id=40');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('40');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('40');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Fastrack Modern Wallet " href="index9144.html?route=product/product&amp;product_id=40"> 
                        Fastrack Modern Wall...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$123.20</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="<%= product_javascript_function('Print and Ebook', 'Fastrack Modern Wall of Fame', 18, 1) %>"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Alessia74 Handbag" href="indexbfcf.html?route=product/product&amp;product_id=31">
                <%= image_tag "data/1501111671.jpg", alt: "", class: "img-responsive", width: "199", height: "302" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index1411.html?route=product/quickview&amp;product_id=31');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('31');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('31');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Alessia74 Handbag" href="indexbfcf.html?route=product/product&amp;product_id=31"> 
                        Alessia74 Handbag                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$98.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('31');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                                          <div class="sale-label sale-top-right">
              Sale              </div>
               

              <div class="product-image-area"> 
                
                <a class="product-image" title="American Crew Men's Comfort" href="indexbb02.php?route=product/product&amp;product_id=42">
                <%= image_tag "data/0316410985.jpg", alt: "", class: "img-responsive", width: "199", height: "302" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index452f.html?route=product/quickview&amp;product_id=42');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('42');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('42');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="American Crew Men's Comfort" href="indexbb02.php?route=product/product&amp;product_id=42"> 
                        American Crew Men's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="old-price"><span class="price">$122.00</span></span> 
                          <span class="special-price"><span class="price">$110.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('42');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="American Crew Men's Comfort Fit" href="indexfac8.html?route=product/product&amp;product_id=35">
                <%= image_tag "data/0553538411.jpg", alt: "", class: "img-responsive", width: "199", height: "302" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index2449.html?route=product/quickview&amp;product_id=35');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('35');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('35');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="American Crew Men's Comfort Fit" href="indexfac8.html?route=product/product&amp;product_id=35"> 
                        American Crew Men's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$122.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('35');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Bata Women's Fashion Sandals" href="indexb8ca.html?route=product/product&amp;product_id=43">
                <%= image_tag "data/1250109302.jpg", alt: "", class: "img-responsive", width: "199", height: "302" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexd67a.html?route=product/quickview&amp;product_id=43');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('43');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('43');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Bata Women's Fashion Sandals" href="indexb8ca.html?route=product/product&amp;product_id=43"> 
                        Bata Women's Fashion...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$602.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('43');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Butterflies Women's Handbag" href="index0f47.html?route=product/product&amp;product_id=29">
                <%= image_tag "data/1501125710.jpg", alt: "", class: "img-responsive", width: "199", height: "302" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexbb91.html?route=product/quickview&amp;product_id=29');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('29');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('29');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Butterflies Women's Handbag" href="index0f47.html?route=product/product&amp;product_id=29"> 
                        Butterflies Women's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$337.99</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('29');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                                          <div class="sale-label sale-top-right">
              Sale              </div>
               

              <div class="product-image-area"> 
                
                <a class="product-image" title="Canon EOS 5D" href="indexf073.html?route=product/product&amp;product_id=30">
                <%= image_tag "data/0316410985.jpg", alt: "", class: "img-responsive" %> 
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index2935.html?route=product/quickview&amp;product_id=30');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('30');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('30');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Canon EOS 5D" href="indexf073.html?route=product/product&amp;product_id=30"> 
                        Canon EOS 5D                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="old-price"><span class="price">$122.00</span></span> 
                          <span class="special-price"><span class="price">$98.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('30');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Clifton Mens Black Shorts" href="indexd94c-2.html?route=product/product&amp;product_id=44">
                <%= image_tag "data/1419717014.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index24a8.php?route=product/quickview&amp;product_id=44');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('44');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('44');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Clifton Mens Black Shorts" href="indexd94c-2.html?route=product/product&amp;product_id=44"> 
                        Clifton Mens Black S...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$1,202.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('44');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  </div><!-- slider items -->
                 
      </div><!-- featured-slider -->

    </div><!-- slider-items-products -->
  </div>

  <!-- Promo Banner -->
  <div>
    <div class="offer-banner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-xs-12 col-sm-4"><a href="#"><%= image_tag "data/offer-banner1.jpg", alt: "", class: "img-responsive" %><div class="overlay"><span class="info">Learn More</span></div>
</a>
</div>



        <div class="col-lg-4 col-xs-12 col-sm-4"><a href="#"><%= image_tag "data/offer-banner2.jpg", alt: "", class: "img-responsive" %><div class="overlay"><span class="info">Learn More</span></div>
</a>
</div>



        <div class="col-lg-4 col-xs-12 col-sm-4"><a href="#"><%= image_tag "data/offer-banner3.jpg", alt: "", class: "img-responsive" %><div class="overlay"><span class="info">Learn More</span></div>
</a>
</div>



      </div>



    </div>



  </div></div>
  <div class="featured-pro container">
    <div class="slider-items-products">
      <div class="new_title center">
        <h2>Featured</h2>
      </div>

      <div id="featured-slider" class="product-flexslider hidden-buttons">
        
                  <div class="slider-items slider-width-col4">
                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Fastrack Modern Wallet " href="index9144.html?route=product/product&amp;product_id=40"> 
                <%= image_tag "data/p48-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index7ddd.html?route=product/quickview&amp;product_id=40');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('40');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('40');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Fastrack Modern Wallet " href="index9144.html?route=product/product&amp;product_id=40"> 
                        Fastrack Modern Wall...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$123.20</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('40');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Alessia74 Handbag" href="indexbfcf.html?route=product/product&amp;product_id=31">
                <%= image_tag "data/p52-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index1411.html?route=product/quickview&amp;product_id=31');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('31');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('31');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Alessia74 Handbag" href="indexbfcf.html?route=product/product&amp;product_id=31"> 
                        Alessia74 Handbag                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$98.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('31');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                                          <div class="sale-label sale-top-right">
              Sale              </div>
               

              <div class="product-image-area"> 
                
                <a class="product-image" title="American Crew Men's Comfort" href="indexbb02.php?route=product/product&amp;product_id=42">
                <%= image_tag "data/p1-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index452f.html?route=product/quickview&amp;product_id=42');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('42');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('42');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="American Crew Men's Comfort" href="indexbb02.php?route=product/product&amp;product_id=42"> 
                        American Crew Men's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="old-price"><span class="price">$122.00</span></span> 
                          <span class="special-price"><span class="price">$110.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('42');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="American Crew Men's Comfort Fit" href="indexfac8.html?route=product/product&amp;product_id=35">
                <%= image_tag "data/p4-700x850.jpg", alt: "", class: "img-responsive" %> 
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index2449.html?route=product/quickview&amp;product_id=35');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('35');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('35');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="American Crew Men's Comfort Fit" href="indexfac8.html?route=product/product&amp;product_id=35"> 
                        American Crew Men's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$122.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('35');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Bata Women's Fashion Sandals" href="indexb8ca.html?route=product/product&amp;product_id=43">
                <%= image_tag "data/p69-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexd67a.html?route=product/quickview&amp;product_id=43');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('43');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('43');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Bata Women's Fashion Sandals" href="indexb8ca.html?route=product/product&amp;product_id=43"> 
                        Bata Women's Fashion...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$602.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('43');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Butterflies Women's Handbag" href="index0f47.html?route=product/product&amp;product_id=29">
                <%= image_tag "data/p49-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexbb91.html?route=product/quickview&amp;product_id=29');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('29');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('29');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Butterflies Women's Handbag" href="index0f47.html?route=product/product&amp;product_id=29"> 
                        Butterflies Women's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$337.99</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('29');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                                          <div class="sale-label sale-top-right">
              Sale              </div>
               

              <div class="product-image-area"> 
                
                <a class="product-image" title="Canon EOS 5D" href="indexf073.html?route=product/product&amp;product_id=30">
                <%= image_tag "data/p10-700x850.jpg", alt: "", class: "img-responsive" %> 
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index2935.html?route=product/quickview&amp;product_id=30');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('30');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('30');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Canon EOS 5D" href="indexf073.html?route=product/product&amp;product_id=30"> 
                        Canon EOS 5D                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="old-price"><span class="price">$122.00</span></span> 
                          <span class="special-price"><span class="price">$98.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('30');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Clifton Mens Black Shorts" href="indexd94c-2.html?route=product/product&amp;product_id=44">
                <%= image_tag "data/p28-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index24a8.php?route=product/quickview&amp;product_id=44');"><span>Quick view</span>
                    </a> 
                                        <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('44');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('44');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Clifton Mens Black Shorts" href="indexd94c-2.html?route=product/product&amp;product_id=44"> 
                        Clifton Mens Black S...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$1,202.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('44');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item --> 

                  </div><!-- slider items -->
                 
      </div><!-- featured-slider -->

    </div><!-- slider-items-products -->
  </div>


   <!-- Promo Banner -->
   <div>
        <div class="promo-banner-section container">
      <div class="row"><div class="col-lg-12"><%= image_tag "data/jewelry-banner.jpg", alt: "", class: "img-responsive" %></div></div>   
  </div></div>
    <div class="middle-slider container">
    <div class="row">
      <div class="col-md-6">
        <div class="bag-product-slider small-pr-slider cat-section">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>Bags</h2>
            </div>

            <div id="bag-seller-slider" class="product-flexslider hidden-buttons">
               
                          <div class="slider-items slider-width-col3">
                        <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Alessia74 Handbag" href="indexbfcf.html?route=product/product&amp;product_id=31">
                <%= image_tag "data/p52-700x850.jpg", alt: "", class: "img-responsive" %> 
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index1411.html?route=product/quickview&amp;product_id=31');"><span>Quick view</span>
                    </a> 
                    
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('31');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('31');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Alessia74 Handbag" href="indexbfcf.html?route=product/product&amp;product_id=31"> 
                        Alessia74 Handbag                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$98.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('31');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                        <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Butterflies Women's Handbag" href="index0f47.html?route=product/product&amp;product_id=29"> 
                <%= image_tag "data/p49-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexbb91.html?route=product/quickview&amp;product_id=29');"><span>Quick view</span>
                    </a> 
                    
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('29');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('29');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Butterflies Women's Handbag" href="index0f47.html?route=product/product&amp;product_id=29"> 
                        Butterflies Women's ...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$337.99</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('29');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                        <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Fastrack Modern Wallet " href="index9144.html?route=product/product&amp;product_id=40">
                <%= image_tag "data/p48-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index7ddd.html?route=product/quickview&amp;product_id=40');"><span>Quick view</span>
                    </a> 
                    
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('40');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('40');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Fastrack Modern Wallet " href="index9144.html?route=product/product&amp;product_id=40"> 
                        Fastrack Modern Wall...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$123.20</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('40');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                        <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="HP LP3065" href="indexd21c.html?route=product/product&amp;product_id=47"> 
                <%= image_tag "data/p51-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index0deb.html?route=product/quickview&amp;product_id=47');"><span>Quick view</span>
                    </a> 
                    
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('47');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('47');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="HP LP3065" href="indexd21c.html?route=product/product&amp;product_id=47"> 
                        HP LP3065                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$122.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('47');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                          </div><!-- slider-items -->
                              
            </div><!-- bag-seller-slider -->

            </div><!-- slider-items-products -->
            </div><!-- bag-product-slider -->
      </div><!-- col-md-6 -->

      <div class="col-md-6">
        <div class="shoes-product-slider small-pr-slider cat-section">
        <div class="slider-items-products">
          <div class="new_title center">
          <h2>Shoes</h2>
          </div>

          <div id="shoes-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col3">
                   <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Bata Women's Fashion Sandals" href="indexb8ca.html?route=product/product&amp;product_id=43">
                <%= image_tag "data/p69-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexd67a.html?route=product/quickview&amp;product_id=43');"><span>Quick view</span>
                    </a> 
                                        
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('43');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('43');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Bata Women's Fashion Sandals" href="indexb8ca.html?route=product/product&amp;product_id=43"> 
                        Bata Women's Fashion...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$602.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('43');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                   <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="HTC Touch HD" href="index6320.html?route=product/product&amp;product_id=28">
                <%= image_tag "data/p64-700x850.jpg", alt: "", class: "img-responsive" %> 
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index087b.html?route=product/quickview&amp;product_id=28');"><span>Quick view</span>
                    </a> 
                                        
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('28');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('28');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="HTC Touch HD" href="index6320.html?route=product/product&amp;product_id=28"> 
                        HTC Touch HD                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$122.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('28');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                   <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="iPod Nano" href="index5e0b.html?route=product/product&amp;product_id=36">
                <%= image_tag "data/p62-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('indexe6ba.html?route=product/quickview&amp;product_id=36');"><span>Quick view</span>
                    </a> 
                                        
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('36');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('36');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="iPod Nano" href="index5e0b.html?route=product/product&amp;product_id=36"> 
                        iPod Nano                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$122.00</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('36');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                   <!-- Item -->
          <div class="item">
            <div class="col-item">

                             

              <div class="product-image-area"> 
                
                <a class="product-image" title="Samsung Galaxy Tab 10.1" href="index3d7a.html?route=product/product&amp;product_id=49"> 
                <%= image_tag "data/p57-700x850.jpg", alt: "", class: "img-responsive" %>
                </a>

                <div class="actions-links">
                  <span class="add-to-links"> 
                                        <a title="Quick view" class="magik-btn-quickview" onclick="callQuickView('index5f2b.html?route=product/quickview&amp;product_id=49');"><span>Quick view</span>
                    </a> 
                                        
                    <a title="Add to Wish List" class="link-wishlist" onclick="wishlist.add('49');"><span>Add to Wish List</span></a> 

                    <a title="Add To Compare" class="link-compare" onclick="compare.add('49');"><span>Add To Compare</span></a>
                  </span>
                </div>

              </div>
              
              <div class="info">
                <div class="info-inner">
                  <div class="item-title">
                        <a title="Samsung Galaxy Tab 10.1" href="index3d7a.html?route=product/product&amp;product_id=49"> 
                        Samsung Galaxy Tab 1...                        </a>
                  </div><!--item-title-->

                        <div class="item-content">
                        
                                                    <div class="rating">
                          <div class="ratings">
                          <div class="rating-box">
                                                                              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                                              </div>
                          </div>
                          </div><!-- rating -->
                          
                                                    <div class="item-price">
                          <div class="price-box"> 
                                                    <span class="regular-price"><span class="price">$241.99</span></span> 
                                                                              </div>
                          </div>
                          
                        </div>
                        <!--item-content--> 

                </div><!--info-inner-->

                <div class="actions">
                  <button type="button" title="Add to Cart" class="button btn-cart" onclick="cart.add('49');"><span>Add to Cart</span>
                  </button>
                </div>
                <!--actions-->
                
                <div class="clearfix"> </div>
              </div>
            </div>
          </div><!-- End Item -->
                       </div><!-- slider-items -->
                    </div>

        </div><!-- slider-items-products -->
        </div><!-- shoes-product-slider -->

      </div>

    </div>
  </div> 
    

<script type="text/javascript">
$('#column-left').attr('class','');
$('#column-right').attr('class','');
</script>


<!-- End Page Body -->