<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - MYBOOKSHELF</title>


</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #f5f5f5; font-family: Helvetica, Arial, sans-serif;">
<!--100% body table-->
<table cellspacing="0" border="0" bgcolor="" style="margin: 0 0 30px 0; padding: 0; border: 0;" width="100%" cellpadding="0">
  <tr style="margin: 0; padding: 0; border: 0;">
    <td align="center" style="margin: 0; padding: 0; border: 0;">
    <!--email container-->
    	<table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0;" bgcolor="#f5f5f5" width="805" cellpadding="0">
    		<tr height="76" style="margin: 0; padding: 0; border: 0;">
    			<td style="padding: 0; border: 0; margin: 0;" width="102">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0;" width="601">
    				<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
						<tr height="30" style="margin: 0; padding: 0; border: 0;">
							<td style="margin: 0; padding: 0; border: 0;" width="46"></td>
							<td style="margin: 0; padding: 0; border: 0;" width="508"></td>
							<td style="margin: 0; padding: 0; border: 0;" width="47"></td>
						</tr>
						<tr style="margin: 0; padding: 0; border: 0;">
							<td height="50" style="margin: 0; padding: 0; border: 0;"></td>
							<td align="center" style="padding: 0; font-size: 12px; line-height: 16px; border: 0; color: #EDEDED; margin: 0; font-famiy:Helvetica,Arial,sans-serif">
						      <img src="images/logo.png" /><br/>
							  <div style="margin-top: 20px; color: #333;">Need help? Call <img src="images/phone.png" style="display: inline; vertical-align: middle; margin-right: 3px;" /> <strong><%= @company_profile.telephone %></strong> or Drop us an email on <strong><%= link_to @company_profile.eamil, "mailto:#{@company_profile.email}", style: "text-decoration: none; color: #333" %></strong></div>
							</td>
							<td style="margin: 0; padding: 0; border: 0;"></td>
						</tr>
						<tr height="18" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
					</table>
    			</td>
    			<td style="padding: 0; border: 0; margin: 0;" width="102">
    			</td>
    		</tr>
    		
    		<tr style="padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0;border: 1px solid #ddd; padding: 20px 10px" bgcolor="#fff" width="601">
    			
    			<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
					<tr height="20" style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;" width="32"></td>
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0;" width="32"></td>
					</tr>
					<tr style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0; color:#8E8E8E; font-family: Helvetica, Arial, sans-serif; font-size:14px; line-height:21px;" align="left">
							<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
								<tr style="margin: 0; padding: 0; border: 0;" height="50">
									<td style="margin: 0; padding: 0; border: 0;" width="25">
										<img src="images/arrow.png" style="display: inline;" />
									</td>
									<td style="margin: 0; padding: 0; border: 0;" width="576">
										<h2 style="font-size: 20px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif">Thank you for signing up on MyBookshelf</h2>
									</td>
								</tr>
								<tr style="margin: 0; padding: 0; border: 0;">
									<td colspan="2" style="margin: 0; padding: 0; border: 0;">
										<p style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">Hello <%= @merchant.firstname.capitalize %>,</p>
										<p style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">Thank you for choosing MyBookshelf to sell your books!</p>
										<p style="margin: 10px 0 10px 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">
										<%= link_to "Click here to verify your email", "/merchants/verify-email/#{@merchant.verification_code}", style: "border:solid 1px #09AAC7;background-color:#09AAC7;color:#ffffff;padding:9px 20px;border-radius:3px;font-weight:bold;text-decoration:none", target: "_blank" %>
										</p>

										<p style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">In MyBookshelf, we avail you the opportunity to:</p>

										<ul>
                                            <li>Gain access to our growning books marketplace</li>
                                            <li>Create your own virtual store</li>
                                            <li>Stock your store with your books</li>
                                            <li>Update your shipping preferences</li>
                                            <li>Manage your inventory and sales orders</li>
                                            <li>Chat directly with your customers</li>
                                            <li>Receive payouts</li>
                                        </ul>

                                        <p style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">Button not working? Try pasting this link into your browser:</p>
                                        <p style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494"><%= link_to "#{@domain}/merchants/verify-email/#{@merchant.verification_code}", "/merchants/verify-email/#{@merchant.verification_code}" %></p>
									</td>
								</tr>
							</table>
						</td>
						<td style="margin: 0; padding: 0; border: 0;"></td>
					</tr>
					<tr height="25" style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td>
					</tr>
				
				
				<tr height="25" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
			</table>
    			
    			</td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr height="69" style="margin: 0; padding: 0; border: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td> 
    			<td style="padding: 0; border: 0; margin: 0; text-align:center;table-layout:auto;background-color:#09AAC7;background:#09AAC7" bgcolor="#09AAC7" width="601"><table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0;" cellpadding="0" width="601">
				<tr style="margin: 0; padding: 0; border: 0;">
					<td  colspan="3" style="margin: 0; padding: 0; border: 0;">
                     <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            	<tr>
                    <td><%= image_tag "mails/spacer.png", style: "display:block", class: "CToWUd" %></td>
                    <td><a href="<%= @company_profile.facebook_profile %>" target="_blank"><%= image_tag "mails/facebook.png", style: "display:block; margin: 10px 20px", class: "CToWUd" %></a></td>
                    <td><a href="<%= @company_profile.twitter_profile %>" target="_blank"><%= image_tag "mails/twitter.png", style: "display:block; margin: 10px 20px", class: "CToWUd" %></a></td>
                    <td><a href="<%= @company_profile.google_plus_profile %>" target="_blank"><%= image_tag "mails/google-plus.png", style: "display:block; margin: 10px 20px", class: "CToWUd" %></a></td>
                    <td><a href="<%= @company_profile.youtube_profile %>" target="_blank"><%= image_tag "mails/youtube.png", style: "display:block; margin: 10px 20px", class: "CToWUd" %></a></td>
                    <td><a href="<%= @company_profile.bbm_profile %>" target="_blank"><%= image_tag "mails/blackberry.png", style: "display:block", class: "CToWUd" %></a></td>
                </tr>
            </tbody></table>
</td>
</tr>
<tr style="margin: 0; padding: 0; border: 0;">
<td colspan="3" style="margin: 0; padding: 0; border: 0;">
<table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td width="32">&nbsp;</td>
                    <td height="40" style="border-bottom:1px dashed #fff;border-top:1px dashed #fff">
                        <table border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:11px;color:#fff">
                            <tbody><tr>
                                <td width="70" align="center" style="display: inline"><a style="text-decoration:none;color:#fff;font-family:Arial,Helvetica,sans-serif;" href="<%= 'mailto:#{@company_profile.email}' %>" target="_blank">Contact Us</a> <%= image_tag "mails/asterisks.png", style: "vertical-align: middle; margin: 0px 10px 0px 10px" %></td>
                                <td width="60" align="center" style="padding-left:5px; display: inline"><a style="text-decoration:none;color:#fff;font-family:Arial,Helvetica,sans-serif" href="<%= @footer_links.about_us %>" target="_blank">About Us</a> <%= image_tag "mails/asterisks.png", style: "vertical-align: middle; margin: 0px 10px 0px 10px" %></td>
                                <!-- <td width="119" align="center" style="padding-left:5px; display: inline"><a style="text-decoration:none;color:#fff;font-family:Arial,Helvetica,sans-serif" href="#" target="_blank">Become an Affiliate</a> <img src="images/asterisks.png" style="vertical-align: middle; margin: 0px 10px 0px 10px"/></td> -->
                                <td width="60" align="center" style="padding-left:5px; display: inline"><a style="text-decoration:none;color:#fff;font-family:Arial,Helvetica,sans-serif" href="<%= @footer_links.faq %>" target="_blank">FAQ</a> <%= image_tag "mails/asterisks.png", style: "vertical-align: middle; margin: 0px 10px 0px 10px" %></td>
                                <td width="84" align="center" style="display: inline; padding-left:5px"><a style="text-decoration:none;color:#fff;font-family:Arial,Helvetica,sans-serif" href="<%= sell_url %>" target="_blank">Sell on MYBOOKSHELF</a> <%= image_tag "mails/asterisks.png", style: "vertical-align: middle; margin: 0px 10px 0px 10px" %></td>
                                <td width="65" align="center" style="display: inline; padding-left:5px"><a style="text-decoration:none;color:#fff;font-family:Arial,Helvetica,sans-serif" href="<%= blog_url %>" target="_blank">Our Blog</a></td>

                            </tr>
                        </tbody></table>
                    </td>
                    <td width="32">&nbsp;</td>
				</tr>
				<tr height="40" style="margin: 0; padding: 0; border: 0;">
					<td style="margin: 0; padding: 0; border: 0;"></td>
					<td align="center" style="padding: 0; font-size: 11px; line-height: 22px; border: 0; color: #fff; margin: 0; font-family:Helvetica,Arial,sans-serif">To ensure delivery to your inbox, please add <strong>
						<%= link_to "support@mybookshelf.com.ng", "mailto:support@mybookshelf.com.ng", style: "text-decoration: none; color: #D2FF4A" %></strong> to your address book.
										</td>
					<td style="margin: 0; padding: 0; border: 0;"></td>
				</tr>
				<tr height="40" style="margin: 0; padding: 0; border: 0;">
					<td style="margin: 0; padding: 0; border: 0;"></td>
					<td align="center" style="padding: 0; font-size: 11px; color: #fff; margin: 0; font-family:Helvetica,Arial,sans-serif">
						                <span>PLEASE DO NOT REPLY TO THIS MESSAGE<span><br/>
						                <span>This is a system generated <span style="color: #D2FF4A">mybookshelf.com.ng</span> email. Replies will not be read or forwarded for handling<span><br/>
						                <span><%= @company_profile.address %></span>
					</td>
					<td style="margin: 0; padding: 0; border: 0;"></td>
				</tr>

				<tr height="40" style="margin: 0; padding: 0; border: 0;">
					<td style="margin: 0; padding: 0; border: 0;"></td>
					<td align="center" style="padding: 0; font-size: 11px; line-height: 22px; border: 0; color: #fff; margin: 0; font-family:Helvetica,Arial,sans-serif">Copyright &copy; <%= Time.now.year + " " + @company_profile.name %>. All rights reserved
										</td>
					<td style="margin: 0; padding: 0; border: 0;"></td>
				</tr>
				<tr height="12" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
			</table>
    			</td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		
    	</table>
	</td>
  </tr>
</table>

</body></html>