<% provide(:title, "Dashboard") %>
<% content_for :modals do %>
       <%= render 'layouts/merchants/modals/page_loading' %>
       <%= render 'layouts/merchants/modals/upload_cover_image' %>
       <%= render 'layouts/merchants/modals/upload_epub_file' %>
<% end %>
<% content_for :other_css_files do %>
       <%= stylesheet_link_tag    'sell_a_book_manifest', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :other_js_files do %>
       <%= javascript_include_tag 'sell_a_book_manifest', 'data-turbolinks-track' => true %>
<% end %>
<section id="content">
                    <section class="vbox">
                        <section class="scrollable padder">
                            <div class="m-b-md">
                                <h3 class="m-b-none">Sell A Book</h3> 
                            </div>
                  <div id="tmm-form-wizard" class="substrate">
                    <div class="row stage-container">

                        <div id="sell-a-book-nav-step-1" class="stage tmm-current col-md-3 col-sm-3">
                            <div class="stage-header head-icon"><i class="fa fa-paper-plane add-nav-margin-white"> </i></div>
                            <div class="stage-content">
                                <h3 class="stage-title">Pick Your Category</h3>
                                <div class="stage-info">
                                    Select the Category of Book you want to sell
                                </div> 
                            </div>
                        </div><!--/ .stage-->

                        <div id="sell-a-book-nav-step-2" class="stage col-md-3 col-sm-3">
                            <div class="stage-header head-icon"><i class="fa fa-book add-nav-margin-black"  id="sell-a-book-nav-icon-2"> </i></div>

                            <div class="stage-content">
                                <h3 class="stage-title">Descibe Your Book</h3>
                                <div class="stage-info">
                                    A good description makes it easy for buyers to find you
                                </div>
                            </div>
                        </div><!--/ .stage-->

                        <div id="sell-a-book-nav-step-3" class="stage col-md-3 col-sm-3">
                            <div class="stage-header head-icon"><i class="fa fa-image add-nav-margin-black"  id="sell-a-book-nav-icon-3"> </i></div>

                            <div class="stage-content">
                                <h3 class="stage-title">Book Cover Image</h3>
                                <div class="stage-info">
                                    An attractive cover image speaks volume for your book
                                </div>
                            </div>
                        </div><!--/ .stage-->

                        

                        <div id="sell-a-book-nav-step-4" class="stage col-md-3 col-sm-3">
                            <div class="stage-header head-icon"><i class="fa fa-eye add-nav-margin-black"  id="sell-a-book-nav-icon-4"> </i></div>
                            <div class="stage-content">
                                <h3 class="stage-title">Review And Confirm</h3>
                                <div class="stage-info">
                                    Review and confirm your entries
                                </div> 
                            </div>
                        </div><!--/ .stage-->

                    </div><!--/ .row-->
                  </div>
                          <div id="sell-a-book-form-holder">
                               <%= render 'merchants/partials/sell_a_book_step_2' %>
                          </div>
                        </section>
                    </section>
                    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
                </section>