<footer class="footer wow bounceInUp animated">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
          <div class="block-subscribe">
            <div class="newsletter">
                
  <h4>newsletter</h4>
 
  
  	<p id="subscriber_content"></p>
	  <input  type="text" name="subscriber_email" id="subscriber_email" value="" placeholder="Enter Your Email" class="form-control input-text required-entry validate-email" />
	  <button class="subscribe" type="button" name="submit_newsletter" id="submit_newsletter" onclick="return MgkEmailValidation()" ><span>Subscribe</span></button>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
      <div class="social">
      
      <ul class="link">
            <li class="fb pull-left"><a href="https://www.facebook.com/MagikCommerce" target="_blank"></a></li>
                  <li class="tw pull-left"><a href="https://twitter.com/qtwitt" target="_blank"></a></li>
                  <li class="googleplus pull-left"><a href="http://www.magikcommerce.com/" target="_blank"></a></li>
                  <li class="rss pull-left"><a href="http://www.magikcommerce.com/blog/feed/" target="_blank"></a></li>
                  <li class="pintrest pull-left"><a href="https://www.pinterest.com/magikcommerce/" target="_blank"></a></li>
                  <li class="linkedin pull-left"><a href="https://www.linkedin.com/company/magikcommerce" target="_blank"></a></li>
                  <li class="youtube pull-left"><a href="https://plus.google.com/108548966199168316090/videos" target="_blank"></a></li>
            </ul>
    </div>
        </div>
      </div>
    </div>
  </div>
<div class="footer-middle container">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="footer-logo"><a href="index-2.html" title="Logo"><%= image_tag "site/logo-2.png", alt: "logo" %></a></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu. </p>
      <div class="payment-accept">
      <div>
      <%= image_tag "data/payment-1.png", alt: "payment1" %>
      <%= image_tag "data/payment-2.png", alt: "payment2" %>
      <%= image_tag "data/payment-3.png", alt: "payment3" %>
      <%= image_tag "data/payment-4.png", alt: "payment4" %>
      </div>
      </div>

    </div>

    <div class="col-md-2 col-sm-4">
          
      <h4>Information</h4>
      <ul class="links">
            <li class="first"><a href="index8816.html?route=information/information&amp;information_id=4">About Us</a></li>
            <li class=""><a href="index1766.html?route=information/information&amp;information_id=6">Delivery Information</a></li>
            <li class=""><a href="index1679.html?route=information/information&amp;information_id=3">Privacy Policy</a></li>
            <li class=""><a href="index99e4.html?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
            <li class=""><a href="index11cd.html?route=information/information&amp;information_id=7">Our Stores</a></li>
            <li class=""><a href="index7184.html?route=information/information&amp;information_id=8">Suppliers</a></li>
            </ul>
      
          </div>

    <div class="col-md-2 col-sm-4">
      <h4>Customer Service</h4>
      <ul class="links">
      <li class="first"><a href="index2724.html?route=information/contact">Contact Us</a></li>
      <li><a href="index71ba.html?route=account/return/add">Returns</a></li>
      <li><a href="indexe223.html?route=account/wishlist">Wish List</a></li>
      <li><a href="indexe223.html?route=account/order">Order History</a></li>
      <li><a href="index7cb2.html?route=information/sitemap">Site Map</a></li>
      <li class="last"><a href="indexe223.html?route=account/account" title="My Account">My Account</a></li>
      </ul> 
    </div>

    <div class="col-md-2 col-sm-4">
      <h4>Extras</h4>
      <ul class="links">
          <li class="first"><a href="indexd773.html?route=product/manufacturer">Brands</a></li>
          <li><a href="index4dd2.html?route=account/voucher">Gift Vouchers</a></li>
          <li><a href="index3d18.html?route=affiliate/account">Affiliates</a></li>
          <li><a href="indexe223.html?route=account/wishlist">Wish List</a></li>
          <li><a href="indexe223.html?route=account/order">Order History</a></li>
          <li class="last"><a href="indexf110.html?route=product/special">Specials</a></li>
      </ul>
    </div>

    <div class="col-md-3 col-sm-4">
      <h4>Contact Us</h4>
      <div class="contacts-info">
            
                        <address>
            <i class="add-icon"></i>123 Main Street, Anytown,  CA 12345 USA            </address>

                        <div class="phone-footer">
            <i class="phone-icon"></i>+1 800 123 1234            </div>
            
              
            <div class="email-footer">
            <i class="email-icon"> </i><a href="mailto:support@magikcommerce.com">support@magikcommerce.com</a>
            </div>
            
              </div>
    </div>

  </div>
</div>

<div class="footer-bottom">
  <div class="container">
  <div class="row">   
                <div class="col-sm-5 col-xs-12 coppyright"> © <%= Time.now.year %>. All Rights Reserved.  <%= link_to "Nexus Axis Projects Limited", "http://www.nexusaxis.com", target: "blank" %> </div>
          <div class="col-sm-7 col-xs-12 company-links">
            <!-- <ul class="links">
              <li><a href="#" title="Magento Themes">Magento Themes</a></li>
              <li><a href="#" title="Premium Themes">Premium Themes</a></li>
              <li><a href="#" title="Responsive Themes">Responsive Themes</a></li>
              <li class="last"><a href="#" title="Magento Extensions">Magento Extensions</a></li>
            </ul> -->
          </div>  
  </div>
  </div>
</div>


</footer>
</div><!-- page footer-->