<!-- Nav Bar -->
<nav class="">
<div class="container">
  <div class="nav-inner">

          <div class="hidden-desktop" id="mobile-menu">
      <ul class="navmenu">
      <li>
      <div class="menutop">
      <div class="toggle"> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></div>
      <h2>Menu</h2>
      </div>
      <ul style="display:none;" class="submenu">
      <li>
      <ul class="topnav">
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="#">Women</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="#">Stylish Bag (5)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Material Bag (9)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Shoes (5)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Jwellery (10)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="#">Men</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="#">Shoes (7)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Dresses (7)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Jackets (14)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Watches (6)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Sunglasses (6)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="#">Electronics</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="index03af.html?route=product/category&amp;path=25_107">Mobiles (8)</a></li>
                        <li class="level1 nav-6-1 first"><a href="indexc219.html?route=product/category&amp;path=25_29">Accesories (14)</a></li>
                        <li class="level1 nav-6-1 first"><a href="indexe177.html?route=product/category&amp;path=25_28">Cameras (3)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index68a7.html?route=product/category&amp;path=25_30">Audio &amp; Video (8)</a></li>
                        <li class="level1 nav-6-1 first"><a href="indexf3db.html?route=product/category&amp;path=25_31">Computer (5)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="index70a9.html?route=product/category&amp;path=57">Furniture</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="index1a97.html?route=product/category&amp;path=57_120">Living Room (2)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index7d82.html?route=product/category&amp;path=57_129">Dining &amp; Bar (6)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index4200.html?route=product/category&amp;path=57_141">Bedroom (5)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index4321.html?route=product/category&amp;path=57_152">Kitchen (15)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="indexb152.html?route=product/category&amp;path=17">Kids</a>
            </li>
                 
      </ul>

      </li>
      </ul>
      </li>
      </ul>
      <!--navmenu-->
      </div>

      <ul class="hidden-xs" id="nav">
      <li class="level0 parent drop-menu">
            <%= link_to raw("<span>Home</span>"), root_path, class: "active level-top", id: "tab_home" %>
      </li>
      <% top_level_categories.each do|category| %>
          <li class="level0 nav-6 level-top parent">
          <%= link_to raw("<span>#{category.name}</span>"), "/categories/#{category.name.parameterize}", class: "level-top" %>
                    
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                
                <div class="level0-wrapper2">     
               
                 
                    <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">       
                       
                      <ul class="level0">
                              <% if sub_categories(category.id).size > 0 %>
                                   <% sub_categories(category.id).each_slice(6) do|sub_category| %>
                                      <li class="level1 nav-6-1 parent item">
                                         <a href="javascript:void(0)"><span>Sub-Categories</span></a>
                                         <ul class="level1">
                                      <% sub_category.each do|category_item| %>
                                         <li class="level2 nav-6-1-1">
                                           <%= link_to raw("<span>#{category_item.name}</span>"), "/categories/#{category_item.name.parameterize}" %>
                                        </li>
                                      <% end %>
                                       </ul>
                                      </li>
                                   <% end %>
                              <% end %>
                    </ul>
                       
                    </div>

                    <div class="nav-block nav-block-right std grid12-4">
                        <div class="static-img-block"><a href="#"><%= image_tag "data/nav-img1.jpg", alt: "MYBOOKSHELF" %></a></div>            </div>
                    
                 
                
                   
              </div>
              
              </div>  
            </li>
      <% end %>
      
      <% if other_top_level_categories.size > 0 %>
          <li class="level0 nav-6 level-top parent">
            <a class="level-top " href="javascript:void(0)"><span>Others</span></a>

            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
                <div class="level0-wrapper2">     
                   <div class="nav-block nav-block-center">
                       <ul class="level0">
                          <% other_top_level_categories.each do|other_category| %>
                              <% other_sub_categories = sub_categories(other_category.id) %>
                              <% if other_sub_categories.size > 0 %>
                              <li class="level1 nav-6-1 parent item">
                                <%= link_to raw("<span>#{other_category.name}</span>"), "/categories/#{other_category.name.parameterize}" %>
                                <ul class="level1">
                                     <% other_sub_categories.each do|other_sub_category| %>
                                       <li class="level2 nav-6-1-1">
                                           <%= link_to raw("<span>#{other_sub_category.name}</span>"), "/categories/#{other_sub_category.name.parameterize}" %>
                                     </li>
                                     <% end %>
                                </ul>
                              </li>
                              <% end %>
                        <ul class="level1">
                          <% end %>
                       </ul>
                   </div>
                </div>
            </div>
          </li>
      <% end %>    
    </ul>

    <!-- Shopping Cart -->
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="shopping-cart-holder" data-loading-text="Loading...">
          <a href="#" class="cart-focus dropdown-toggle" style="color: #fff; font-weight: bold; font-size: 14px" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> <span id="cart-total"><%= cart_title %> </span><span class="caret"></span></a>
          <ul class="dropdown-cart dropdown-menu" id="shopping-cart-items-holder" role="menu">
              <% logger.debug "Cart plenty: #{shopping_cart_empty?}" %>
              <% if shopping_cart_empty? || shopping_cart_hash_empty? %>
                 <li><div class="text-center" style="margin: 10px">
                  <p>Your shopping cart is empty!</p>
                  <p class="cart-description">Browse the store - find your favorite books and more</p>
                </div></li> 
              <% else %>
                 <% if any_products_in_cart? %>
                     <% products_in_cart.each do|key, item| %>
                     <% product_item = Product.find(Base64.decode64(key).chomp.to_i) %>
                     <!-- Product Item -->
                     <li>
                        <span class="item" title="<%= product_item.products_description.title.capitalize %>">
                          <span class="item-left">
                              <%= image_tag product_item.products_image.image, class: "img-responsive cart-thumbnail", alt: "" %>
                              <span class="item-info">
                                  <span><%= truncate(product_item.products_description.title.capitalize, length: 30) %></span>
                                  <span><strong><%= item %> x &#8358;<%= number_to_currency(product_item.price).delete('$') %></strong></span>
                              </span>
                          </span>
                          <span class="item-right">
                              <button class="btn btn-xs btn-danger pull-right" onClick="cart.removeCartItem('<%= product_item.id %>', 'print_book')">x</button>
                          </span>
                      </span>
                    </li>
                    <li class="divider"></li>

                     <% end %>
                <% end %>

                  <% if any_ebooks_in_cart? %>
                     <% ebooks_in_cart.each do|key, item| %>
                     <% ebook_item = Product.find(Base64.decode64(key).chomp.to_i) %>
                     <!-- Product Item -->
                     <li>
                        <span class="item" title="<%= "#{ebook_item.products_description.title.capitalize} (ebook)" %>">
                          <span class="item-left">
                              <%= image_tag ebook_item.products_image.image, class: "img-responsive cart-thumbnail", alt: "" %>
                              <span class="item-info">
                                  <span><%= truncate(ebook_item.products_description.title.capitalize, length: 30) %> (ebook)</span>
                                  <span><strong><%= item %> x &#8358;<%= number_to_currency(ebook_item.ebook_price.to_f).delete "$" %></strong></span>
                              </span>
                              </a>
                          </span>
                          <span class="item-right">
                              <button class="btn btn-xs btn-danger pull-right" onClick="cart.removeCartItem('<%= ebook_item.id %>', 'ebook')">x</button>
                          </span>
                      </span>
                    </li>
                    <li class="divider"></li>

                     <% end %>
                 <% end %>
                 <li><div class="cart-sub-total"><strong>Subtotal: &#8358;<%= number_to_currency(get_sub_total).delete "$" %></strong></div></li>
                 <li class="divider"></li>
                 <li><div class="text-center ost-footer">
                 <%= link_to "View Cart", { controller: "cart", action: "index" }, class: "ost-view-cart" %>
                 <%= link_to "Proceed to Checkout", "#", class: "ost-view-cart-2" %>
                 </div></li>
              <% end %>
          </ul>
        </li>
      </ul>
    <!-- End Shopping -->
      
  </div><!-- nav-inner -->
</div>
</nav>
<!-- Nav Bar Ends