<!-- Nav Bar -->
<nav class="">
<div class="container">
  <div class="nav-inner">

          <div class="hidden-desktop" id="mobile-menu">
      <ul class="navmenu">
      <li>
      <div class="menutop">
      <div class="toggle"> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></div>
      <h2>Menu</h2>
      </div>
      <ul style="display:none;" class="submenu">
      <li>
      <ul class="topnav">
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="#">Women</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="#">Stylish Bag (5)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Material Bag (9)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Shoes (5)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Jwellery (10)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="#">Men</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="#">Shoes (7)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Dresses (7)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Jackets (14)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Watches (6)</a></li>
                        <li class="level1 nav-6-1 first"><a href="#">Sunglasses (6)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="#">Electronics</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="index03af.html?route=product/category&amp;path=25_107">Mobiles (8)</a></li>
                        <li class="level1 nav-6-1 first"><a href="indexc219.html?route=product/category&amp;path=25_29">Accesories (14)</a></li>
                        <li class="level1 nav-6-1 first"><a href="indexe177.html?route=product/category&amp;path=25_28">Cameras (3)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index68a7.html?route=product/category&amp;path=25_30">Audio &amp; Video (8)</a></li>
                        <li class="level1 nav-6-1 first"><a href="indexf3db.html?route=product/category&amp;path=25_31">Computer (5)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="index70a9.html?route=product/category&amp;path=57">Furniture</a>
      
      <ul class="level0">
      
                        <li class="level1 nav-6-1 first"><a href="index1a97.html?route=product/category&amp;path=57_120">Living Room (2)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index7d82.html?route=product/category&amp;path=57_129">Dining &amp; Bar (6)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index4200.html?route=product/category&amp;path=57_141">Bedroom (5)</a></li>
                        <li class="level1 nav-6-1 first"><a href="index4321.html?route=product/category&amp;path=57_152">Kitchen (15)</a></li>
            
      </ul>

            </li>
            <li class="level0 nav-6 level-top first parent"><a class="level-top" href="indexb152.html?route=product/category&amp;path=17">Kids</a>
            </li>
                 
      </ul>

      </li>
      </ul>
      </li>
      </ul>
      <!--navmenu-->
      </div>

            <ul class="hidden-xs" id="nav">
            <li class="level0 parent drop-menu">
        <a class="active level-top" id="tab_home" href="index9328.html?route=common/home"><span>Home</span></a>
                <ul style="display: none;" class="level1">
              <li class="level1 first parent"><a href="index.html"><span>Home version 1</span></a> </li>
              <li class="level1 first parent"><a href="http://polodemo2blue.magikcommerce.com/"><span>Home version 2</span></a> </li>
              <li class="level1 first parent"><a href="http://polodemo1red.magikcommerce.com/"><span>Red</span></a> </li>
              <li class="level1 first parent"><a href="http://polodemo1lavender.magikcommerce.com/"><span>Lavender</span></a> </li>
              <li class="level1 first parent"><a href="http://polodemo1green.magikcommerce.com/"><span>Green</span></a> </li>
              <li class="level1 first parent"><a href="http://polodemo1emerald.magikcommerce.com/"><span>Emerald</span></a> </li>
              
            </ul>

      </li>
            <li class="level0 nav-6 level-top parent">
      <a class="level-top " href="index98dc.html?route=product/category&amp;path=20"><span>Women</span>  
      </a>
            
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
        
        <div class="level0-wrapper2">     
       
         
            <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">       
               
                                <ul class="level0">
                                                                <li class="level1 nav-6-1 parent item"><a href="indexd9fe.html?route=product/category&amp;path=20_26"><span>Stylish Bag</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="index9ceb.html?route=product/category&amp;path=20_26_35"><span>Clutch Handbags</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexc052.html?route=product/category&amp;path=20_26_66"><span>Diaper Bags</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexe9d5.html?route=product/category&amp;path=20_26_71"><span>Bags</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index75e4.html?route=product/category&amp;path=20_26_72"><span>Hobo handbags</span></a></li>
                                </ul>
                                </li>
                                                                <li class="level1 nav-6-1 parent item"><a href="indexf345.html?route=product/category&amp;path=20_27"><span>Material Bag</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="index161a.html?route=product/category&amp;path=20_27_74"><span>Beaded Handbags</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexd121.html?route=product/category&amp;path=20_27_75"><span>Fabric Handbags</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index7158.html?route=product/category&amp;path=20_27_77"><span>Handbags</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index0e5e.html?route=product/category&amp;path=20_27_79"><span>Leather Handbags</span></a></li>
                                </ul>
                                </li>
                                                                <li class="level1 nav-6-1 parent item"><a href="index6dbd.html?route=product/category&amp;path=20_59"><span>Shoes</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="indexcde5.html?route=product/category&amp;path=20_59_83"><span>Flat Shoes</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index1147.html?route=product/category&amp;path=20_59_87"><span>Flat Sandals</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexaf04.html?route=product/category&amp;path=20_59_91"><span>Boots</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index3635.html?route=product/category&amp;path=20_59_95"><span>Heels</span></a></li>
                                </ul>
                                </li>
                                                                <li class="level1 nav-6-1 parent item"><a href="index8431.html?route=product/category&amp;path=20_61"><span>Jwellery</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="index9d19.html?route=product/category&amp;path=20_61_99"><span>Bracelets</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index1e07.html?route=product/category&amp;path=20_61_102"><span>Necklaces &amp; Pendent</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index97f1.html?route=product/category&amp;path=20_61_63"><span>Pendants</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index654d.html?route=product/category&amp;path=20_61_106"><span>Pins &amp; Brooches</span></a></li>
                                </ul>
                                </li>
                                                </ul>
                
                <div class="fur-des">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla. Donec a neque libero. Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa.</p>                </div><!-- fur-des bootom block-->
               
            </div>

            <div class="nav-block nav-block-right std grid12-4">
                <div class="static-img-block"><a href="#"><%= image_tag "data/nav-img1.jpg", alt: "MYBOOKSHELF" %></a></div>            </div>
            
         
        
           
      </div>
      
      </div>  
            </li>
          <li class="level0 nav-6 level-top parent">
      <a class="level-top " href="index7fa3.html?route=product/category&amp;path=18"><span>Men</span>  
      </a>
            
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
        
        <div class="level0-wrapper2">     
       
        
                <div class="nav-block nav-block-center">
                                        <ul class="level0">
                                                                                <li class="level1 nav-6-1 parent item"><a href="index9f41.html?route=product/category&amp;path=18_46"><span>Shoes</span></a>
                                        <ul class="level1">
                                        <li class="level2 nav-6-1-1"><a href="indexfec2.html?route=product/category&amp;path=18_46_70"><span>Sport Shoes</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="indexf7d6.html?route=product/category&amp;path=18_46_73"><span>Casual Shoes</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="indexe672.html?route=product/category&amp;path=18_46_76"><span>Leather Shoes</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index7c90.html?route=product/category&amp;path=18_46_78"><span>Canvas Shoes</span></a></li>
                                        </ul>
                                        </li>
                                                                                <li class="level1 nav-6-1 parent item"><a href="index8470.html?route=product/category&amp;path=18_45"><span>Dresses</span></a>
                                        <ul class="level1">
                                        <li class="level2 nav-6-1-1"><a href="indexf050.html?route=product/category&amp;path=18_45_80"><span>Casual Dresse</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index3843.html?route=product/category&amp;path=18_45_81"><span>Evening</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="indexf102.html?route=product/category&amp;path=18_45_82"><span>Designer</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index9453.html?route=product/category&amp;path=18_45_84"><span>Party</span></a></li>
                                        </ul>
                                        </li>
                                                                                <li class="level1 nav-6-1 parent item"><a href="index7567.html?route=product/category&amp;path=18_65"><span>Jackets</span></a>
                                        <ul class="level1">
                                        <li class="level2 nav-6-1-1"><a href="index1d74.html?route=product/category&amp;path=18_65_85"><span>Coats</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index0b0b.html?route=product/category&amp;path=18_65_86"><span>Formal Jackets</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index50bb.html?route=product/category&amp;path=18_65_88"><span>Leather Jackets</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index70a1.html?route=product/category&amp;path=18_65_89"><span>Blazers</span></a></li>
                                        </ul>
                                        </li>
                                                                                <li class="level1 nav-6-1 parent item"><a href="index3502.html?route=product/category&amp;path=18_67"><span>Watches</span></a>
                                        <ul class="level1">
                                        <li class="level2 nav-6-1-1"><a href="indexa0d4.html?route=product/category&amp;path=18_67_90"><span>Fasttrack</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index94f6.html?route=product/category&amp;path=18_67_92"><span>Casio</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="indexa7aa.html?route=product/category&amp;path=18_67_93"><span>Titan</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index2c71.html?route=product/category&amp;path=18_67_94"><span>Tommy-Hilfiger</span></a></li>
                                        </ul>
                                        </li>
                                                                                <li class="level1 nav-6-1 parent item"><a href="indexf328.html?route=product/category&amp;path=18_68"><span>Sunglasses</span></a>
                                        <ul class="level1">
                                        <li class="level2 nav-6-1-1"><a href="indexb833.html?route=product/category&amp;path=18_68_96"><span>Ray Ban</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index9844.html?route=product/category&amp;path=18_68_97"><span>Fasttrack</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index2700.html?route=product/category&amp;path=18_68_98"><span>Police</span></a></li>
                                        <li class="level2 nav-6-1-1"><a href="index27f6.html?route=product/category&amp;path=18_68_100"><span>Oakley</span></a></li>
                                        </ul>
                                        </li>
                                                            </ul>
                                    </div>

                <div class="nav-add">
                   <div class="push_item">
                  <div class="push_img"><a href="#"><%= image_tag "data/menu-sunglass.png", alt: "" %></a></div>
                </div>
                <div class="push_item">
                  <div class="push_img"><a href="#"><%= image_tag "data/menu-watch.png", alt: "" %></a></div>
                </div>
                <div class="push_item">
                  <div class="push_img"><a href="#"><%= image_tag "data/menu-jeans.png", alt: "" %></a></div>
                </div>
                <div class="push_item">
                  <div class="push_img"><a href="#"><%= image_tag "data/menu_man_shoes.png", alt: "" %></a></div>
                </div>
                <div class="push_item push_item_last">
                  <div class="push_img"><a href="#"><%= image_tag "data/menu_man_swimwear.png", alt: "" %></a></div>
                </div>                </div>
                 
        
           
      </div>
      
      </div>  
            </li>
          <li class="level0 nav-6 level-top parent">
      <a class="level-top " href="index1647.html?route=product/category&amp;path=25"><span>Electronics</span>  
      </a>
            
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
        
        <div class="level0-wrapper2">     
                   <div class="nav-block nav-block-center">
                        <ul class="level0">
                                                <li class="level1 nav-6-1 parent item"><a href="index03af.html?route=product/category&amp;path=25_107"><span>Mobiles</span></a>
                        <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="index0cc2.html?route=product/category&amp;path=25_107_109"><span>Samsung</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index21e3.html?route=product/category&amp;path=25_107_111"><span>Nokia</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index0a5c.html?route=product/category&amp;path=25_107_112"><span>IPhone</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="indexe42a.html?route=product/category&amp;path=25_107_114"><span>Sony</span></a></li>
                        </ul>
                        </li>
                                                <li class="level1 nav-6-1 parent item"><a href="indexc219.html?route=product/category&amp;path=25_29"><span>Accesories</span></a>
                        <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="index3ec4.html?route=product/category&amp;path=25_29_122"><span>Mobile Memory Cards</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index1036.html?route=product/category&amp;path=25_29_124"><span>Cases &amp; Covers</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="indexd7ba.html?route=product/category&amp;path=25_29_126"><span>Mobile Headphones</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index8881.html?route=product/category&amp;path=25_29_128"><span>Bluetooth Headsets</span></a></li>
                        </ul>
                        </li>
                                                <li class="level1 nav-6-1 parent item"><a href="indexe177.html?route=product/category&amp;path=25_28"><span>Cameras</span></a>
                        <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="indexd92c.html?route=product/category&amp;path=25_28_130"><span>Camcorders</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index607c.html?route=product/category&amp;path=25_28_132"><span>Point &amp; Shoot</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="indexd180.html?route=product/category&amp;path=25_28_133"><span>Digital SLR</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index4c8e.html?route=product/category&amp;path=25_28_135"><span>Camera Accesories</span></a></li>
                        </ul>
                        </li>
                                                <li class="level1 nav-6-1 parent item"><a href="index68a7.html?route=product/category&amp;path=25_30"><span>Audio &amp; Video</span></a>
                        <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="index779a.html?route=product/category&amp;path=25_30_137"><span>MP3 Players</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index997d.html?route=product/category&amp;path=25_30_138"><span>IPods</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index60ee.html?route=product/category&amp;path=25_30_140"><span>Speakers</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="indexfaa6.html?route=product/category&amp;path=25_30_142"><span>Video Players</span></a></li>
                        </ul>
                        </li>
                                                <li class="level1 nav-6-1 parent item"><a href="indexf3db.html?route=product/category&amp;path=25_31"><span>Computer</span></a>
                        <ul class="level1">
                        <li class="level2 nav-6-1-1"><a href="index60eb.html?route=product/category&amp;path=25_31_144"><span>External Hard Disk</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="indexccc9.html?route=product/category&amp;path=25_31_145"><span>Pendrives</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index7af8.html?route=product/category&amp;path=25_31_147"><span>Headphones</span></a></li>
                        <li class="level2 nav-6-1-1"><a href="index1d5b.html?route=product/category&amp;path=25_31_149"><span>PC Components</span></a></li>
                        </ul>
                        </li>
                                    </ul>
                        </div>
           
      </div>
      
      </div>  
            </li>
          <li class="level0 nav-6 level-top parent">
      <a class="level-top " href="index70a9.html?route=product/category&amp;path=57"><span>Furniture</span>  
      </a>
            
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
        
        <div class="level0-wrapper2">     
       
         
            <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">       
               
                                <ul class="level0">
                                                                <li class="level1 nav-6-1 parent item"><a href="index1a97.html?route=product/category&amp;path=57_120"><span>Living Room</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="index0ad3.html?route=product/category&amp;path=57_120_121"><span>Racks &amp; Cabinets</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexf63a.html?route=product/category&amp;path=57_120_123"><span>Sofas</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexd94c.html?route=product/category&amp;path=57_120_125"><span>Chairs</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index15fc.html?route=product/category&amp;path=57_120_127"><span>Tables</span></a></li>
                                </ul>
                                </li>
                                                                <li class="level1 nav-6-1 parent item"><a href="index7d82.html?route=product/category&amp;path=57_129"><span>Dining &amp; Bar</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="index77c8.html?route=product/category&amp;path=57_129_131"><span>Dining Table Sets</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index7ea3.html?route=product/category&amp;path=57_129_134"><span>Serving Trolleys</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index6999.html?route=product/category&amp;path=57_129_136"><span>Bar Counters</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexa22d.html?route=product/category&amp;path=57_129_139"><span>Dining Cabinets</span></a></li>
                                </ul>
                                </li>
                                                                <li class="level1 nav-6-1 parent item"><a href="index4200.html?route=product/category&amp;path=57_141"><span>Bedroom</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="index905e.html?route=product/category&amp;path=57_141_143"><span>Beds</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexdcd9.html?route=product/category&amp;path=57_141_146"><span>Chest of Drawers</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexef56.html?route=product/category&amp;path=57_141_148"><span>Wardrobes &amp; Almirahs</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="indexe163.html?route=product/category&amp;path=57_141_150"><span>Nightstands</span></a></li>
                                </ul>
                                </li>
                                                                <li class="level1 nav-6-1 parent item"><a href="index4321.html?route=product/category&amp;path=57_152"><span>Kitchen</span></a>
                                <ul class="level1">
                                <li class="level2 nav-6-1-1"><a href="indexdec9.html?route=product/category&amp;path=57_152_155"><span>Kitchen Racks</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index8b43.html?route=product/category&amp;path=57_152_156"><span>Kitchen Fillings</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index6613.html?route=product/category&amp;path=57_152_158"><span>Wall Units</span></a></li>
                                <li class="level2 nav-6-1-1"><a href="index6cfb.html?route=product/category&amp;path=57_152_159"><span>Benches &amp; Stools</span></a></li>
                                </ul>
                                </li>
                                                </ul>
                
                <div class="fur-des">
                                  </div><!-- fur-des bootom block-->
               
            </div>

            <div class="nav-block nav-block-right std grid12-4">
                <div class="static-img-block"><a href="#"><%= image_tag "data/furniture-img.jpg", alt: "" %></a></div>            </div>
            
         
        
           
      </div>
      
      </div>  
            </li>
          <li class="level0 nav-6 level-top parent">
      <a class="level-top " href="indexb152.html?route=product/category&amp;path=17"><span>Kids</span>  
      </a>
            
            </li>
        
    <li class="nav-custom-link level0 level-top parent"><a class="level-top"><span>Custom</span></a><div class="level0-wrapper custom-menu" style="left: 0px; display: none;"><div class="header-nav-dropdown-wrapper clearer"><div class="grid12-5">
                  <div class="custom_img"><a href="#"><img src="images/data/custom-img1.jpg" alt="custom img1"></a></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                  <button type="button" title="Add to Cart" class="learn_more_btn"><span>Learn More</span></button>
                </div>
                <div class="grid12-5">
                  <div class="custom_img"><a href="#"><img src="images/data/custom-img2.jpg" alt="custom img2"></a></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                  <button type="button" title="Add to Cart" class="learn_more_btn"><span>Learn More</span></button>
                </div>
                <div class="grid12-5">
                  <div class="custom_img"><a href="#"><img src="images/data/custom-img3.jpg" alt="custom img3"></a></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                  <button type="button" title="Add to Cart" class="learn_more_btn"><span>Learn More</span></button>
                </div>
                <div class="grid12-5">
                  <div class="custom_img"><a href="#"><img src="images/data/custom-img4.jpg" alt="custom img4"></a></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                  <button type="button" title="Add to Cart" class="learn_more_btn"><span>Learn More</span></button>
                </div></div></div></li>    
    </ul>

    <!-- Shopping Cart -->
       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="shopping-cart-holder" data-loading-text="Loading...">
          <a href="#" class="cart-focus dropdown-toggle" style="color: #fff; font-weight: bold; font-size: 14px" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> <span id="cart-total"><%= cart_title %></span><span class="caret"></span></a>
          <ul class="dropdown-cart dropdown-menu" id="shopping-cart-items-holder" role="menu">
              <% logger.debug "Cart plenty: #{shopping_cart_empty?}" %>
              <% if shopping_cart_empty? || shopping_cart_hash_empty? %>
                 <li><div class="text-center" style="margin: 10px">
                  <p>Your shopping cart is empty!</p>
                  <p class="cart-description">Browse the store - find your favorite books and more</p>
                </div></li> 
              <% else %>
                 <% if any_products_in_cart? %>
                     <% products_in_cart.each do|key, item| %>
                     <% product_item = Product.find(Base64.decode64(key).chomp.to_i) %>
                     <!-- Product Item -->
                     <li>
                        <span class="item" title="<%= product_item.products_description.title.capitalize %>">
                          <span class="item-left">
                              <%= image_tag product_item.products_image.image, class: "img-responsive cart-thumbnail", alt: "" %>
                              <span class="item-info">
                                  <span><%= truncate(product_item.products_description.title.capitalize, length: 30) %></span>
                                  <span><strong><%= item %> x &#8358;<%= number_to_currency(product_item.price).delete('$') %></strong></span>
                              </span>
                          </span>
                          <span class="item-right">
                              <button class="btn btn-xs btn-danger pull-right" onClick="cart.removeCartItem('<%= product_item.id %>', 'print_book')">x</button>
                          </span>
                      </span>
                    </li>
                    <li class="divider"></li>

                     <% end %>
                <% end %>

                  <% if any_ebooks_in_cart? %>
                     <% ebooks_in_cart.each do|key, item| %>
                     <% ebook_item = Product.find(Base64.decode64(key).chomp.to_i) %>
                     <!-- Product Item -->
                     <li>
                        <span class="item" title="<%= "#{ebook_item.products_description.title.capitalize} (ebook)" %>">
                          <span class="item-left">
                              <%= image_tag ebook_item.products_image.image, class: "img-responsive cart-thumbnail", alt: "" %>
                              <span class="item-info">
                                  <span><%= truncate(ebook_item.products_description.title.capitalize, length: 30) %> (ebook)</span>
                                  <span><strong><%= item %> x &#8358;<%= number_to_currency(ebook_item.ebook_price.to_f).delete "$" %></strong></span>
                              </span>
                          </span>
                          <span class="item-right">
                              <button class="btn btn-xs btn-danger pull-right" onClick="cart.removeCartItem('<%= ebook_item.id %>', 'ebook')">x</button>
                          </span>
                      </span>
                    </li>
                    <li class="divider"></li>

                     <% end %>
                 <% end %>
                 <li><div class="cart-sub-total"><strong>Subtotal: &#8358;<%= number_to_currency(get_sub_total).delete "$" %></strong></div></li>
                 <li class="divider"></li>
                 <li><div class="text-center ost-footer"><a href="#" class="ost-view-cart">View Cart</a> <a href="#" class="ost-view-cart-2">Proceed to checkout</a></div></li>
              <% end %>
          </ul>
        </li>
      </ul>
    <!-- End Shopping -->
      
  </div><!-- nav-inner -->
</div>
</nav>
<!-- Nav Bar Ends -->