<!DOCTYPE html>
<html>
<head>
  <title><%= home_page_title(yield(:title)) %></title>
  <!-- Favicon -->
  <%= favicon_link_tag 'favicon/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Include Libs and Plugins -->
  <%= javascript_include_tag 'frontend_index_page_manifest', 'data-turbolinks-track' => true %>

  <!-- Cross Site Request Forgery -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/frontend/shim' %>
</head>
<body class="<%= body_class(yield(:class_name)) %>">

   <!-- Page Header -->
   <%= render 'layouts/frontend/header' %>
   <!-- End Page Header -->

   <!-- Page Home Slider -->
   <%= render 'layouts/frontend/nav_bar' %>
   <!-- End Page Home Slider -->

   <!-- Services -->
   <%= render 'layouts/frontend/slider' %>
   <!-- End Services -->

   <!-- Page Top -->
  <%= render 'layouts/frontend/categories' %>
   <!-- End Page Top -->
  
  <!-- Page Content -->
  <%= yield %>
  <!-- End Page Content -->

<!-- Page Footer -->
 <%= render 'layouts/frontend/footer' %>
 <!-- End Page Footer -->

<!-- Popup Modals -->
 <%= yield :modals %>
<!-- End Popup Modals -->

</body>
</html>
