<section class="panel panel-default set-book-cover-section-margin-top">
        <header class="panel-heading font-bold">Tell us about your book</header>
        <div class="panel-body">
            <%= form_for(:book_description, url: merchants_book_description_path, remote: true, html: {class: "form-horizontal", id: "description-form"}) do|f| %>
                <div class="form-group">
                   <label class="col-sm-2 control-label"><strong>Book Type <span class="compulsory">*</span></strong></label>
                    <div class="col-sm-10">
                        <%= f.select :book_type, ProductsType.where(status: 1).order(:product_type).collect {|p| [p.product_type, p.id]}, {:prompt => "--Select Book Type--"}, {class: "form-control", onChange: "MyBookshelfUtil.populateEbookSection(this);"} %>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :book_title, raw("<strong>Book Title <span class='compulsory'>*</span></strong>"), class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :book_title, class: "form-control" %> <span class="help-block m-b-none">Maximum of 100 Characters</span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :vat, raw('<strong>VAT <span class="compulsory">*</span> <a href="javascript:void(0)" id="tooltipister" title="Please note: Sellers are responsible for the remittance of VAT to the government.">[?]</a></strong>'), class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.select :vat, VatOption.all.order(:name).collect {|p| [p.name, p.id]}, {prompt: "--Select Vat Option--"}, {class: "form-control m-b"} %>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :price, raw('<strong>Price  &#8358; <span class="compulsory">*</span></strong>'), class: "col-sm-2 control-label", for: "price" %>
                    <div class="col-sm-10">
                        <%= f.text_field :price, class: "form-control", id: "price" %>
                        <span class="help-block m-b-none">Only numerals e.g 1200</span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :special_price, raw('<strong>Special Price  &#8358; </strong>'), class: "col-sm-2 control-label", for: "special-price" %>
                    <div class="col-sm-10">
                        <%= f.text_field :special_price, class: "form-control", id: "special-price" %>
                        <span class="help-block m-b-none">Only numerals e.g 1200</span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <!-- Description -->
                <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>Description <span class="compulsory">*</span></strong></label>
                    <div class="col-sm-10">
                        <%= f.cktext_area :description, :cols => 40, :ckeditor => {:toolbar => 'mini'} %>
                    </div>
                </div>
                <!-- End Description -->

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :quantity, raw('<strong>Quantity <span class="compulsory">*</span></strong>'), class: "col-sm-2 control-label", for: "quantity" %>
                    <div class="col-sm-10">
                        <%= f.text_field :quantity, class: "form-control", id: "quantity" %>
                    </div>
                </div>

                <!-- Upload EBooks -->
                <div id="ebook-section">
                    
                </div>
                <!-- End Upload EBooks -->

            <% end %>
            <form class="form-horizontal" method="get">
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button id="back-to-step-1" class="btn btn-default" onClick="goBackToStepOne(); return false;">Back</button>
                        <button class="btn btn-primary">Continue</button>
                    </div>
                </div>
            </form>
        </div>
    </section>