<section class="panel panel-default set-book-cover-section-margin-top">
        <header class="panel-heading font-bold">Tell us about your book</header>
        <div class="panel-body">
            <%= form_for(:book_description, url: merchants_book_description_path, remote: true, html: {class: "form-horizontal", id: "description-form-1"}) do|f| %>
                <div class="form-group">
                    <%= f.label :products_type_id, raw('<strong>Book Type <span class="compulsory">*</span></strong>'), class: "col-sm-2 control-label", for: "product-type-id" %>
                    <div class="col-sm-10">
                        <%= f.select :products_type_id, ProductsType.where(status: 1).order(:product_type).collect {|p| [p.product_type, p.id]}, {:prompt => "--Select Book Type--"}, {class: "form-control", id: "product-type-id", onChange: "MyBookshelfUtil.populateEbookSection(this);"} %>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :title, raw("<strong>Book Title <span class='compulsory'>*</span></strong>"), class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :title, class: "form-control validate[required]" %> <span class="help-block m-b-none">Maximum of 100 Characters</span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :isbn, raw("<strong>ISBN</strong>"), class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :isbn, class: "form-control" %> <span class="help-block m-b-none">Maximum of 100 Characters</span>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :vat_option_id, raw('<strong>VAT <span class="compulsory">*</span> <a href="javascript:void(0)" id="tooltipister" title="Please note: Sellers are responsible for the remittance of VAT to the government.">[?]</a></strong>'), class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.select :vat_option_id, VatOption.all.order(:name).collect {|p| [p.name, p.id]}, {prompt: "--Select Vat Option--"}, {class: "form-control m-b", id: "vat-options"} %>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :price, raw('<strong>Price  &#8358; <span class="compulsory">*</span></strong>'), class: "col-sm-2 control-label", for: "price" %>
                    <div class="col-sm-10">
                        <%= f.text_field :price, class: "form-control validate[required, custom[phone-number]]", id: "price", onKeypress: "return MyBookshelfUtil.filterPrice(event, this);", onKeyup: "MyBookshelfUtil.populatePricePreview('price');" %>
                        <span class="help-block m-b-none">Only numerals e.g 1200</span>
                    </div>
                </div>

                <div id="price-preview">

                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :special_price, raw('<strong>Special Price  &#8358; </strong>'), class: "col-sm-2 control-label", for: "special-price" %>
                    <div class="col-sm-10">
                        <%= f.text_field :special_price, class: "form-control validate[required, custom[phone-number]]", id: "special-price", onKeypress: "return MyBookshelfUtil.filterPrice(event, this);", onKeyup: "MyBookshelfUtil.populatePricePreview('special-price');" %>
                        <span class="help-block m-b-none">Only numerals e.g 1200</span>
                    </div>
                </div>

                <div id="special-price-preview">

                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <!-- Description -->
                <div class="form-group">
                    <%= f.label :description, raw('<strong>Description <span class="compulsory">*</span></strong>'), class: "col-sm-2 control-label", for: "description" %>
                    <div class="col-sm-10">
                        <%= f.cktext_area :description, :cols => 40, :ckeditor => {:toolbar => 'mini'}, class: " validate[required]" %>
                    </div>
                </div>
                <!-- End Description -->

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <%= f.label :quantity, raw('<strong>Quantity <span class="compulsory">*</span></strong>'), class: "col-sm-2 control-label", for: "quantity" %>
                    <div class="col-sm-10">
                        <%= f.text_field :quantity, class: "form-control  validate[required, custom[phone-number]]", id: "quantity" %>
                    </div>
                </div>

                <!-- Upload EBooks -->
                <div id="ebook-section">
                    
                </div>
                <!-- End Upload EBooks -->

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button id="back-to-step-1" class="btn btn-default" onClick="goBackToStepOne(); return false;">Back</button>
                        <button class="btn btn-primary">Continue</button>
                    </div>
                </div>

            <% end %>
        </div>
    </section>