<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <!-- Favicon -->
  <%= favicon_link_tag 'favicon/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Include Libs and Plugins -->
  <%= yield :other_css_files %>

  <!-- Include Libs and Plugins -->
  <%= javascript_include_tag 'frontend_index_page_manifest', 'data-turbolinks-track' => true %>
  <%= yield :validation %>
  
  <!-- Cross Site Request Forgery -->
  <%= csrf_meta_tags %>
  <%= render 'layouts/frontend/shim' %>
</head>
<body class="<%= body_class(yield(:class_name)) %>">
   
   <!-- Page Header -->
   <%= render 'layouts/frontend/header' %>
   <!-- End Page Header -->

   <!-- Page Home Slider -->
   <%= render 'layouts/frontend/nav_bar' %>
   <!-- End Page Home Slider -->

   <% if product_breadcrumb?(yield(:product)) %>
       <!-- Breadcrumb -->
       <%= render 'layouts/frontend/product_breadcrumb' %>
       <!-- End Breadcrumb -->
  <% else %>
       <!-- Breadcrumb -->
       <%= render 'layouts/frontend/breadcrumb' %>
       <!-- End Breadcrumb -->
  <% end %>
  
  <!-- Page Content -->
  <%= yield %>
  <!-- End Page Content -->

<!-- Page Footer -->
 <%= render 'layouts/frontend/footer' %>
 <!-- End Page Footer -->

 <!-- Debugging Notifier -->
 
 <!-- End Debugging Notifier-->

</body>
</html>
